## Case Study: Comma Separated Values

In [1]:
directory = "res"
import os 
csv_filename = os.path.join(directory, 'datafile.csv')
print(csv_filename)

res/datafile.csv

In [3]:
try:
    with open(csv_filename, 'r') as f: 
        for line in f: 
            print(line.strip().split(","))    # let's save this in a list 
except FileNotFoundError :
    print ("file not found")

file not found

In [5]:
rows = [] 

with open(csv_filename) as f: 
    for line in f: 
        # print line.strip().split(',')   # let's save this in a list 
        rows.append(line.strip().split(','))
rows

[['Roll no', 'Full Name', ' A1', ' A2', ' A3', ' A4'],
 ['p101111', 'Ali Khayam', ' 64', ' 78.5', ' 89', ' 25'],
 ['p101112', 'Mudasser Farooq', ' 14', ' 28.5', ' 83', ' 76'],
 ['p101113', 'Tamleek Ali', ' 87', ' 12', ' 1.6', ' 22']]

In [18]:
rows

[['Roll no', 'Full Name', ' A1', ' A2', ' A3', ' A4'],
 ['p101111', 'Ali Khayam', ' 64', ' 78.5', ' 89', ' 25'],
 ['p101112', 'Mudasser Farooq', ' 14', ' 28.5', ' 83', ' 76'],
 ['p101113', 'Tamleek Ali', ' 87', ' 12', ' 1.6', ' 22']]

In [19]:
for r in rows[1:]:       # skip the header 
    for c in range(2, 6):
        r[c] = float(r[c])
rows

[['Roll no', 'Full Name', ' A1', ' A2', ' A3', ' A4'],
 ['p101111', 'Ali Khayam', 64.0, 78.5, 89.0, 25.0],
 ['p101112', 'Mudasser Farooq', 14.0, 28.5, 83.0, 76.0],
 ['p101113', 'Tamleek Ali', 87.0, 12.0, 1.6, 22.0]]

In [22]:
rows[0].append('Average')

In [32]:
rows

[['Roll no', 'Full Name', ' A1', ' A2', ' A3', ' A4', 'Average'],
 ['p101111', 'Ali Khayam', 64.0, 78.5, 89.0, 25.0],
 ['p101112', 'Mudasser Farooq', 14.0, 28.5, 83.0, 76.0],
 ['p101113', 'Tamleek Ali', 87.0, 12.0, 1.6, 22.0]]

In [35]:
assignments = len(rows[1][2:])
for r in rows[1:]:
    s = 0
    for c in range(2, len(r)):
        s += r[c]
    average = s / assignments
    r.append(average)

rows

[['Roll no', 'Full Name', ' A1', ' A2', ' A3', ' A4', 'Average'],
 ['p101111', 'Ali Khayam', 64.0, 78.5, 89.0, 25.0, 64.125],
 ['p101112', 'Mudasser Farooq', 14.0, 28.5, 83.0, 76.0, 50.375],
 ['p101113', 'Tamleek Ali', 87.0, 12.0, 1.6, 22.0, 30.65]]

### Writing CSV Files

In [36]:
"a,b,c".split(',')

['a', 'b', 'c']

In [40]:
','.join( ['a', 'b', 'c'] )

'a,b,c'

In [41]:
rows

[['Roll no', 'Full Name', ' A1', ' A2', ' A3', ' A4', 'Average'],
 ['p101111', 'Ali Khayam', 64.0, 78.5, 89.0, 25.0, 64.125],
 ['p101112', 'Mudasser Farooq', 14.0, 28.5, 83.0, 76.0, 50.375],
 ['p101113', 'Tamleek Ali', 87.0, 12.0, 1.6, 22.0, 30.65]]

In [42]:
for r in rows:
    print(r)

['Roll no', 'Full Name', ' A1', ' A2', ' A3', ' A4', 'Average']
['p101111', 'Ali Khayam', 64.0, 78.5, 89.0, 25.0, 64.125]
['p101112', 'Mudasser Farooq', 14.0, 28.5, 83.0, 76.0, 50.375]
['p101113', 'Tamleek Ali', 87.0, 12.0, 1.6, 22.0, 30.65]

In [44]:
rows[1:]

[['p101111', 'Ali Khayam', 64.0, 78.5, 89.0, 25.0, 64.125],
 ['p101112', 'Mudasser Farooq', 14.0, 28.5, 83.0, 76.0, 50.375],
 ['p101113', 'Tamleek Ali', 87.0, 12.0, 1.6, 22.0, 30.65]]

In [46]:
for r in rows: 
    print([str(c) for c in r])   # save this in a list

['Roll no', 'Full Name', ' A1', ' A2', ' A3', ' A4', 'Average']
['p101111', 'Ali Khayam', '64.0', '78.5', '89.0', '25.0', '64.125']
['p101112', 'Mudasser Farooq', '14.0', '28.5', '83.0', '76.0', '50.375']
['p101113', 'Tamleek Ali', '87.0', '12.0', '1.6', '22.0', '30.65']

In [47]:
out_rows = []

for r in rows: 
    r = [str(c) for c in r]   # save this in a list 
    out_rows.append(r) 
    
out_rows

[['Roll no', 'Full Name', ' A1', ' A2', ' A3', ' A4', 'Average'],
 ['p101111', 'Ali Khayam', '64.0', '78.5', '89.0', '25.0', '64.125'],
 ['p101112', 'Mudasser Farooq', '14.0', '28.5', '83.0', '76.0', '50.375'],
 ['p101113', 'Tamleek Ali', '87.0', '12.0', '1.6', '22.0', '30.65']]

In [50]:
out_rows

[['Roll no', 'Full Name', ' A1', ' A2', ' A3', ' A4', 'Average'],
 ['p101111', 'Ali Khayam', '64.0', '78.5', '89.0', '25.0', '64.125'],
 ['p101112', 'Mudasser Farooq', '14.0', '28.5', '83.0', '76.0', '50.375'],
 ['p101113', 'Tamleek Ali', '87.0', '12.0', '1.6', '22.0', '30.65']]

In [51]:
for r in out_rows: 
    out_line = ','.join(r)  # and then save this to a file 
    print(out_line)

Roll no,Full Name, A1, A2, A3, A4,Average
p101111,Ali Khayam,64.0,78.5,89.0,25.0,64.125
p101112,Mudasser Farooq,14.0,28.5,83.0,76.0,50.375
p101113,Tamleek Ali,87.0,12.0,1.6,22.0,30.65

In [52]:
out_rows

[['Roll no', 'Full Name', ' A1', ' A2', ' A3', ' A4', 'Average'],
 ['p101111', 'Ali Khayam', '64.0', '78.5', '89.0', '25.0', '64.125'],
 ['p101112', 'Mudasser Farooq', '14.0', '28.5', '83.0', '76.0', '50.375'],
 ['p101113', 'Tamleek Ali', '87.0', '12.0', '1.6', '22.0', '30.65']]

In [53]:
csv_filename_out = os.path.join('res', 'datafile-out.csv')
print(csv_filename_out)

with open(csv_filename_out, 'w') as f: 
    for r in out_rows: 
        out_line = ','.join(r)  # and then save this to a file 
        f.write(out_line + "\n")

res\datafile-out.csv